.menuitem {
    display: flex;
    height: 48px;
    flex-direction: row;
    flex: 1;
    width: 100%;
    cursor: 'pointer';
    text-decoration: none;
    color: $COLOR_BLACK;

    &__active {
        background-color: $COLOR_BACKGROUND_ACTIVE_ITEM;
        box-shadow: inset -4px 0 0 0 $COLOR_GRAY;
    }
    &__img_container {
        width: 32px;
        height: 32px;
        margin: 8px 8px 8px 24px;
    }
    &__content_container {
        flex: 1;
        margin: 8px 0px;
    }
    &__menu_name {
        font-size: 12px;
        height: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: $COLOR_LETTER_GRAY;
    }
    &__menu_content {
        font-size: 10px;
        height: 15px;
        opacity: 0.5;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: $COLOR_LETTER_GRAY;
    }
}
