/* stylelint-disable color-no-hex */
.alert {
    margin: 8px 32px;
    padding: 10px 16px;
    width: 686px;
    border: 1px solid;
    border-radius: 4px;
    color: #333333;
    display: flex;
    flex-direction: row;
    align-items: center;

    &-message {
        font-size: 16px;
        font-weight: lighter;
        flex-grow: 1;
    }
    &-icon {
        margin-right: 10px;

        &:after {
            content: '';
            display: block;
            height: 14px;
            width: 14px;
            background-repeat: no-repeat;
            background-size: 14px 14px;
        }
    }
    &-error {
        background-color: #ffebee;
        border-color: #f44336;

        & .alert-icon:after {
            background-image: url('../images/trading_app/common/error.svg');
        }
    }
    &-info {
        background-color: #e3f2fd;
        border-color: #2196f3;

        & .alert-icon:after {
            background-image: url('../images/trading_app/common/info.svg');
        }
    }
    &-success {
        background-color: #e8f5e9;
        border-color: #4caf50;

        & .alert-icon:after {
            background-image: url('../images/trading_app/common/success.svg');
        }
    }
    &-warning {
        background-color: #fff8e1;
        border-color: #ffc107;

        & .alert-icon:after {
            background-image: url('../images/trading_app/common/warning.svg');
        }
    }
    &-close {
        cursor: pointer;
        display: block;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
        &-icon {
            display: block;
            height: 16px;
            width: 16px;
        }
    }
}