.settings {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 1440px;
    height: 803px;

    &__sidebar {
        width: 347px;
    }
    &__content {
        flex-grow: 1;
        background: $COLOR_WHITE;
        border-left: 1px solid $COLOR_LIGHT_GRAY;
    }
    &__content_container {
        margin: 48px 24px 0px;
    }
    &__content_header_title {
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: $COLOR_LETTER_GRAY;
        margin-bottom: 8px;
    }
    &__content_header_description {
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: $COLOR_LETTER_GRAY;
        margin-bottom: 16px;
    }
}
