.settings {
    display: flex;
    flex-direction: row;
    flex: 1;

    &__sidebar {
        width: 347px;
    }
    &__content {
        flex-grow: 1;
        background: $COLOR_LIGHT_GRAY;
    }
}
